@font-face {
	font-family: "Pokedex";
	src: url("../fonts/PixelMaster.ttf");
}

.pixelfont { font-family: "Pokedex"; }

body {
	background-image: url(../imgs/pattern/graphy.png);
}

#banner {
	text-align: center;
	color: white;
	background: rgb(74,101,244);
	background: -moz-linear-gradient(top,  rgb(74,101,244) 0%, rgb(34,52,150) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(74,101,244)), color-stop(100%,rgb(34,52,150)));
	background: -webkit-linear-gradient(top,  rgb(74,101,244) 0%,rgb(34,52,150) 100%);
	background: -o-linear-gradient(top,  rgb(74,101,244) 0%,rgb(34,52,150) 100%);
	background: -ms-linear-gradient(top,  rgb(74,101,244) 0%,rgb(34,52,150) 100%);
	background: linear-gradient(to bottom,  rgb(74,101,244) 0%,rgb(34,52,150) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a65f4', endColorstr='#223496',GradientType=0 );
	height: 100px;
}

#banner h1 {
	margin: 0;
	font-size: 5.5em;
	text-shadow: 3px 3px 0 #000;
}

#pokename {
	text-align: center;
	margin: 1em auto 0 auto;
	padding: 0 .8em 0 .8em;
	background-color: rgb(229,51,55);
	border: 3px solid black;
	border-radius: .4em;
	width: 25%;
	box-shadow: .5em .5em 0 rgb(168, 184, 184);
}

#inner-pokename {
	background-color: white;
	border: 3px solid pink;
	border-left-width: 6px;
	border-right-width: 6px;
	font-size: 2em;
	text-shadow: 1px 1px 0 rgb(168, 184, 184);
}

#pokesprite {
	margin-top: 10px;
	width: 100px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	-webkit-box-reflect: below -10px -webkit-linear-gradient(bottom, rgba(255,255,255,0.3) 0%, transparent 40%, transparent 100%);
}

.type {
	border: 2px solid black;
	border-radius: 4px;
	color: white;
	font-family: 'Pokedex';
	font-size: 1.5em;
	font-weight: bold;
	margin: .5em;
	text-align: center;
	text-shadow: 1px 1px 0 #404040;
	width: 5%;
}

.type-inner {
	border: 2px solid;
	border-radius: 2px;
	height: 1.15em;
}

.bug {
	background-color: #62c594;
	border-color: #8be6b4 #318b62 #318b62 #8be6b4;	
}

.dark {
	background-color: #5a4a4a;
	border-color: #947f7f #201515 #201515 #947f7f;	
}

.dragon {
	background-color: #526aa4;
	border-color: #738bbd #293162 #293162 #738bbd;
}

.electr {
	background-color: #fed541;
	border-color: #feeebd #d5ac08 #d5ac08 #feeebd;
}

.fairy {
	background-color: #f79786;
	border-color: #f7b99f #d46d5d #d46d5d #f7b99f;
}

.fight {
	background-color: #f87070;
	border-color: #f8a8a8 #d04040 #d04040 #f8a8a8;
}

.fire {
	background-color: #f89030;
	border-color: #fabf96 #c06820 #c06820 #f8c090;
}

.flying {
	background-color: #58c8f0;
	border-color: #b8e8f8 #30a0b8 #30a0b8 #b8e8f8;
}

.ghost {
	background-color: #a870f8;
	border-color: #d0b0f8 #7858b0 #7858b0 #d0b0f8;
}

.grass {
	background-color: #90e880;
	border-color: #d8f0c0 #58b848 #58b848 #d8f0c0;
}

.ground {
	background-color: #debd8b;
	border-color: #eedeac #a4834a #a4834a #eedeac;
}

.ice {
	background-color: #c1cdfe;
	border-color: #dfe6fe #798cdd #798cdd #dfe6fe;
}

.normal {
	background-color: #dddde1;
	border-color: #f5f5f5 #a0a0a6 #a0a0a6 #f5f5f5;
}

.poison {
	background-color: #e090f8;
	border-color: #f0d0f8 #b848e0 #b848e0 #f0d0f8;
}

.psychc {
	background-color: #fc81c3;
	border-color: #febde0 #da4896 #da4896 #febde0;
}

.rock {
	background-color: #b57b5a;
	border-color: #c89f88 #7b4e35 #7a4f34 #c89f88;	
}

.steel {
	background-color: #b8b8d0;
	border-color: #ebebf6 #8585aa #8585aa #ebebf6;
}

.water {
	background-color: #718bfe;
	border-color: #a1b2fe #3d54bd #3c54bc #a1b2fe;
}
