<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" type="image/png" href="../static/imgs/pokeball.png"/>
	<link rel="stylesheet" href="../static/css/normalize.css">
	<link rel="stylesheet" href="../static/css/main.css">
	<title>Missing No.</title>
</head>
<body>
	<a href="https://github.com/ohnorobo/pokemon"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork us on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
	<div id="banner"><h1>Hack Beanpot's Pokédex!</h1></div>
	<div id="pokedex-wrapper">
		<div class="pokename-border">
			<div class="pokename" class="pixelfont">{{pokename}}</div>
		</div>
		<div id="pokesprite"><img src="../static/imgs/kanto/{{pokemon}}" width="96" height="103" alt="pokemon sprite"></div>

		<!-- Pokemon Info -->
		<div id="pokemon-info">
				<div id="type1" class="type">
					<div class="grass type-inner">
						GRASS
					</div>
				</div>
				<div id="type2" class="type">
					<div class="poison type-inner">
						POISON
					</div>
				</div>
			<div class="info">
				<div class="info-upper">
					<div class="info-desc">Height</div>
					<div class="info-value">0.7m</div>
				</div>
				<div class="info-bottom">
					<div class="info-desc">Weight</div>
					<div class="info-value">6.9kg</div>
				</div>
			</div>
		</div>

		<!-- Pokemon Description -->
		<div class="description-border">
			<div class="description">
				Bulbasaur can be seen napping in bright sunlight. There is a seed on its back. By soaking up the sun's rays, the seed grows progressively larger.
			</div>
		</div>
	</div>
	
</body>
</html>