<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" type="image/png" href="imgs/pokeball.png"/>
	<link rel="stylesheet" href="../css/normalize.css">
	<link rel="stylesheet" href="../css/main.css">
	<title>Missing No.</title>
</head>
<body>
	<div id="banner" class="pixelfont"><h1>Hack Beanpot's Pokédex!</h1></div>
	<div id="pokedex-wrapper">
		<div id="pokename">
			<div id="inner-pokename" class="pixelfont">{{pokename}}</div>
		</div>
		<div id="pokesprite"><img src="/imgs/003.png" width="96" height="103" alt="pokemon sprite"></div>
	</div>
</body>
</html>